
    h1 {
            font-size: 65px ;
            color: orange;
        }

    ul {
            background-color: palegreen;
        }

        .p-ul-style {
            background-color: pink;
        }