
h1 {
    text-align: center;
  }

  .first {
    background-color: rgb(235, 200, 84);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 200px;
  }

  .second {
    background-color: rgb(219, 219, 219);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 300px;
  }

  .third {
    background-color: rgb(170, 142, 106);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 300px;
  }

  li.first{
    display: block;
    margin-left: 40%;
  }

  li.second {
    margin-left: 28%;
  }

  li.second, li.third {
    display: inline-block;
    height: 50px;
    width: 250px;
    padding: 20px 0p;
    
  }

  #section2 h3 {
    text-align: center;
  }
  #section2 li {
    display: inline-block;
    padding: 5px;
    left: 50px;
  }