main {
display: flex;
width: 85%;
flex-flow: row wrap;
justify-content: center;
padding: 10px;
margin: 10px;
}

.ximira {
    display: flex;
    background-color: rgb(207, 202, 202);
    width: 100px;
    text-align: center;
}